* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-brown: #3b1111;
  --teal-gradient: linear-gradient(to bottom right, teal, #66CCCC);
  --secondary-color: #66CCCC;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--font-brown);
  background-color: beige;
}
