* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-grey: #3e3d3d;
  --bg-white: #f8efef;
  --accent-teal: #38f0e1;
  --font-brown: #3b1111;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--font-brown);
  background-color: beige;
}
